.card {
  margin: 20px 0;
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.favorite svg {
  width: 30px;
  margin: 10px 0;
  transition: 0.3s;
  cursor: pointer;
}
.price h5 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
input[type="radio"] {
  display: none;
}
/* @media (max-width: 767px) {
  .price h5 {
    font-size: 12px;
    margin-top: 4px;
  }
} */
.heart-plus {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.heart-plus:hover {
  color: #fff;
}
.heart-plus svg {
  width: 2rem;
  fill: #fff;
  margin-left: 6px;
  transition: .1s;
}
.heart-plus svg:hover {
  transform: scale(1.1);
}